APP_PORT=3004
URL=reservation
NODE_ENV=local

#DBMYSQL
# DB_HOST=127.0.0.1
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=bryant23
DB_DATABASE=propertiesRentHub
DB_SYNCHRONIZE=true
# DB_LOGGING=true

#Services
PROPERTIES_URL=property:3003
USER_URL=user:3005
EMAIL_URL=email:3006


##