# Application
PORT=3000
API_VERSION=v1
NODE_ENV=local
API_TOKEN=
OPEN_API_FOLDER=docs
OPEN_API_FILE='./docs/openapi.json'

# Redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

#EMAIL CONFIG
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=noreply@ogtic.gob.do
MAIL_FROM_NAME=Reuniones OGTIC
MAIL_HOST=smtp.gmail.com
MAIL_MAILER=smtp
MAIL_PORT=465
MAIL_USERNAME=xrosecode@gmail.com
MAIL_PASSWORD=tamygovuweaifokv
