# Application
URL=user
PORT=3000
API_VERSION=v1
NODE_ENV=local
API_TOKEN=
OPEN_API_FOLDER=docs
OPEN_API_FILE='./docs/openapi.json'

# DBMYSQL
DB_HOST=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=bryant23
DB_DATABASE=propertiesRentHub
DB_SYNCHRONIZE=true

APP_PORT=3005
EMAIL_URL=email:3006

###
##